@media (min-width: 35em) {

    header,
    footer {
        width: 1400px;
    }

    header img {
        display: block;
        width: 100px;
        height: auto;
        margin: 0 1rem;
    }

    .nav-img {
        display: none;
    }

    .nav-img-open {
        display: none;
    }

    .search-bar {
        padding: 0.5rem;
        width: 500px;
        border: var(--img-border2);
        background-color: var(--background-color4);
        text-align: left;
    }

    .hero-content {
        margin-top: 8rem;
    }

    .hero-content h1 {
        font-size: 6rem;
    }

    .hero-content #welcome {
        font-size: 1.5rem;
    }

    #store-hero img {
        width: 1500px;
    }

    #store-hero-content {
        margin-top: 4.5rem;
    }


    .discounts-wrapper,
    .categories-wrapper {
        flex-direction: row;
        display: flex;
        gap: 1.5rem;
        margin-top: 2rem;
        justify-content: space-around;
    }

    .discount-arrow {
        font-size: 40px;
        color: var(--secondary-color);
        margin-top: 12rem;
        font-weight: lighter;
    }

    .discount-arrow:hover {
        color: var(--secondary-color-lighther);
    }

    .discount-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        margin: 0 0;
        background-color: var(--background-color4);
        border: var(--img-border1);
        padding: 1.5rem;
        border-radius: 10%;
    }

    .discount-card img {
        margin: 0 0;
        width: 250px;
        height: auto;
        border: var(--img-border2)
    }

    .discount-card img:hover {
        border: var(--img-border2-selected)
    }

    .discount-card h3 {
        margin: 0 0;
    }

    .discount-description {
        font-weight: lighter;
        margin: 0 0;
    }

    .discount-off {
        padding: 0.7rem;
        font-weight: bold;
        font-size: x-large;
    }

    .discount-prices-wrapper {
        display: flex;
        flex-direction: row;
        margin: 0 0;
    }

    .discount-prices {
        display: flex;
        flex-direction: column;
        padding: 0.2rem 0.7rem;
        background-color: var(--header-color);
    }

    .discount-oldp {
        font-weight: lighter;
        text-decoration: line-through;
    }

    .discount-newp {
        font-weight: lighter;
    }

    #store-cta {
        margin-top: 3rem;
    }

    .category-wrapper img {
        position: relative;
        display: inline-block;
    }

    .category {
        transform: translate(3rem, -4rem);
        position: absolute;
        background-color: aliceblue;
        color: var(--main-color);
        padding: 0.2rem 0.7rem;
        border-radius: 10%;
        font-size: medium;
        margin: 0 0;
    }

    .collections-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .collection-title,
    .collection-title-active {
        font-size: small;
    }


    .collections-names {
        display: flex;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .collection-wrapper {
        display: flex;
        gap: 1rem;
        background-color: var(--background-color4);
        border: var(--img-border1);
        padding: 1rem;
        border-radius: 5%;
        width: 650px;
    }

    .collection-wrapper:hover {
        border: var(--img-border1-selected);
    }

    .collection-wrapper img {
        width: 200px;
        height: 70px;
        object-fit: cover;
        border: var(--img-border1);
    }

    .collection-info-wrapper {
        display: flex;
    }

    .collection-info {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
        margin-right: 2rem;
    }

    .collection-info p {
        text-align: left;
        margin: 0 0;
    }

    .collection-price {
        text-align: left;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    .collection-price .discount-prices {
        background-color: var(--background-color4);
    }

    .collection-price p {
        font-size: small;
    }


    .collection-vg-title {
        font-size: medium;
    }

    .collection-vg-description {
        font-weight: lighter;
        font-size: small;
    }

    .wrapper {
        padding: 1rem 3rem 3rem 3rem;
        width: 1100px;
    }

    .gamecard {
        margin-top: 3rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }

    .gamecard img {
        width: 250px;
        height: auto;
        border: var(--img-border1);
    }

    #game-wrapper {
        display: flex;
        gap: 1rem;
    }

    .newscard img {
        border: var(--img-border1);
        opacity: 90%;
        width: 300px;
        height: 400px;
        object-fit: cover;
    }

    .newscard {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .news-content {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        gap: 3rem;
    }

    .news-complete {
        display: block;
        text-align: left;
        font-size: smaller;
        align-self: end;
    }

    .newscard h3 {
        text-align: left;
    }

    .newscard img {
        border: var(--img-border1);
        opacity: 90%;
        width: 300px;
        height: auto;
    }

    .show-more {
        margin-bottom: 2rem;
        font-style: italic;
    }

    .show-more:hover {
        font-weight: bolder;
        color: var(--secondary-color);
    }

    #newsletter-btn {
        margin: 0.5rem;
    }

    .player-group {
        margin: 0 0;
    }

    .player-dash {
        display: block;
    }

    .player-card {
        width: 100%;

    }

    .player-wrapper img {
        margin-top: 2.5rem;
        margin-bottom: 2rem;
    }

    .player-info {
        flex-direction: row;
        gap: 2rem;
        padding: 2rem;
        width: 100%;
    }

    #top-players {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    #footer-complete {
        display: block;
        width: 800px;
    }

    /* NAVIGATION */

    #menu {
        display: none;
    }

    .navigation {
        display: block;
        text-align: center;
        text-decoration: none;
        color: #fff;
        display: flex;
        flex: 1 1 100%;
        flex-direction: row;
    }

    li {
        margin: 0 0;
        text-align: center;
        text-decoration: none;
        list-style: none;
    }

    .navigation a {
        display: block;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
        display: block;
        flex: 1 1 100%;
    }

    /* 
    .discounts-wrapper,
    .categories-wrapper {
        flex-direction: row;
        display: flex;
        gap: 1.5rem;
        margin-top: 2rem;
        justify-content: space-around;
    }

    .store-marker {
        display: block;
    }

    .discount-arrow {
        display: block;
        font-size: 40px;
        color: var(--secondary-color);
        margin-top: 12rem;
        font-weight: lighter;
    }

    .discount-arrow:hover {
        color: var(--secondary-color-lighther);
    }

    .discount-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        margin: 0 0;
        background-color: var(--background-color4);
        border: var(--img-border1);
        padding: 1.5rem;
        border-radius: 10%;
    }

    .discount-card img {
        margin: 0 0;
        width: 250px;
        height: auto;
        border: var(--img-border2)
    }

    .discount-card img:hover {
        border: var(--img-border2-selected)
    }

    .discount-card h3 {
        margin: 0 0;
    }

    .discount-description {
        font-weight: lighter;
        margin: 0 0;
    }

    .discount-off {
        padding: 0.7rem;
        font-weight: bold;
        font-size: x-large;
    }

    .discount-prices-wrapper {
        display: flex;
        flex-direction: row;
        margin: 0 0;
    }

    .discount-prices {
        display: flex;
        flex-direction: column;
        padding: 0.2rem 0.7rem;
        background-color: var(--header-color);
    }

    .discount-oldp {
        font-weight: lighter;
        text-decoration: line-through;
    }

    .discount-newp {
        font-weight: lighter;
    }

    #store-cta {
        margin-top: 3rem;
    }

    .collections-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .collection-title,
    .collection-title-active {
        font-size: small;
    }


    .collections-names {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .collection-wrapper {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        background-color: var(--background-color4);
        border: var(--img-border1);
        padding: 1rem;
        border-radius: 5%;
        width: 650px;
        margin: 0 auto;
    }

    .collection-wrapper:hover {
        border: var(--img-border1-selected);
    }

    .collection-info-wrapper {
        display: flex;
    }

    .collection-info {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
        margin-right: 2rem;
    }

    .collection-info p {
        text-align: left;
        margin: 0 0;
    }

    .collection-price {
        text-align: left;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    .collection-price .discount-prices {
        background-color: var(--background-color4);
    }

    .collection-price p {
        font-size: small;
    }


    .collection-vg-title {
        font-size: medium;
    }

    .collection-vg-description {
        font-weight: lighter;
        font-size: small;
    } */

    /*  */

    form {
        margin: 2rem 0 1rem;
        padding: 1.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: var(--background-color4);
        border-radius: 10%;
        border: var(--img-border1);
    }

    form p,
    form label {
        text-align: left;
        font-weight: bold;
        font-size: large;
    }

    .column1,
    .column3 {
        text-align: left;
        grid-column: 1;
    }

    .column2,
    .form-catpcha {
        text-align: left;
        grid-column: 2;
    }

    .form-textareas,
    .form-checkbox {
        margin: 1rem 0 2rem 0;
        width: 400px;
        text-align: left;
    }

    .form-checkbox {
        margin: 2rem 0 2rem 0;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 0.6rem;
    }

    .checkbox input {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        margin-left: 0;
        text-align: left;
    }

    .form-textareas input {
        padding: 0.6rem;
        width: 100%;
        font-weight: bold;
        text-align: left;
    }

    .optional {
        font-size: smaller;
        margin-left: 0.4rem;
        font-weight: lighter;
    }

    .required {
        font-size: larger;
        margin-left: 0.4rem;
    }

    .form-catpcha img {
        margin-top: 1rem;
        width: 300px;
        height: auto;
    }

    #check-all {
        font-weight: lighter;
    }

    #submitBtn {
        padding: 0.5rem;
        font-size: large;
        font-weight: bold;
        width: 300px;
        border-radius: 4px;
        grid-column: 1/2 span;
        margin: 0 auto;
    }

    /* PROFILE */

    #profile-wrapper {
        display: flex;
        flex-direction: row;
        padding: 0 1rem;
        border-radius: 0%;
    }

    .profile-info {
        display: flex;
        align-items: flex-start;
        text-align: left;
        flex-direction: column;
        margin: 0 0;
        gap: 0.5rem;
    }

    .profile-h2 {
        margin: 0 0;
        padding: 0.1rem;
        font-weight: lighter;
    }

    .profile-info h2 {
        padding: 0.1rem;
        margin: 0 0;
    }

    .profile-img-wrapper {
        display: flex;
        flex-direction: row;
    }

    .profile-img-wrapper img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border: var(--img-border2-selected);
        margin-bottom: 3rem;
    }

    .profile-description p {
        text-align: left;
        margin: 0 1rem;
        font-weight: lighter;
    }

    .aside {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 0 0;
        padding: 1rem 0 1rem 0;
        width: 700px;
    }

    .profile-status {
        text-align: left;
        margin: 0.5rem 0 0 0;
        padding: 0 1rem;
    }

    .profile-actions-wrapper,
    .profile-stats-wrapper,
    .profile-friends-wrapper {
        text-align: left;
        margin: 0 0 0 1rem;
    }

    .profile-actions-wrapper h3,
    .profile-stats-wrapper h3,
    .profile-friends-wrapper h3 {
        padding: 0.5rem 0.5rem;
        text-align: left;
    }

    .action {
        text-align: left;
        padding: 0.5rem 1rem;
    }

    .profile-comments-wrapper {
        width: 100%;
    }

    .profile-stats {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: flex-start;
    }

    .stat {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        margin: 0 0;
    }

    .stat p {
        font-size: small;
    }

    .stat-category {
        text-align: left;
        align-self: flex-start;
        font-weight: lighter;
    }

    .stat-data {
        text-align: right;
        align-self: flex-end;
        font-weight: lighter;
    }

    .friends-wrapper {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .profile-friends {
        display: flex;
        margin: 0 0;
        align-items: flex-start;
        padding: 0.5rem;
    }

    .profile-friends img {
        margin: 0 0;
    }

    .friends-info {
        margin: 0 0;
    }

    .friends-info p {
        margin: 0 0;
        padding: 0 0 0 1rem;
        text-align: left;
    }

    .friends-status {
        margin: 0 0;
        font-weight: lighter;
        text-align: left;
        font-size: smaller;
    }

    .profile-empty {
        height: 500px;
        width: 100%;
        display: block;
    }

    .form-h1 {
        padding: 0rem;
        font-size: 2em;
    }

    #form-hero-content {
        margin-top: 3.5rem;
        font-size: 2em;
    }

    #form-hero-content h1 {
        font-size: 2em;
    }
}