/* large view navigation ************************************/
@media (min-width: 37.5em) {

    /* .hero img {
        width: 100%;
        object-fit: fill;
    } */

    h2 {
        border-top: 0;
    }

    .data,
    .weather {
        position: absolute;
        background-color: var(--foreground-color);
        opacity: 0.7;
        padding: 0 1rem 0.5rem 1rem;
    }

    /* .info-wrapper {
        display: flex;
        align-content: center;
        justify-content: space-between; */
    /* gap: 15rem; */
}

/* disable weather img */
.weather img {
    display: none;
}

.data {
    /* flex: 1; */
    left: 1%;
    /* top: 47%; */
    top: 47%;
}

.weather {
    /* flex: 1; */
    right: 1%;
    top: 100%;
}