:root {
    --background-color: rgb(204, 29, 29);
    --foreground-color: whitesmoke;
    --margin: 1rem 0 2rem;
    /* background-color: var(--background-color); */
}

* {
    padding: 0;
    margin: 0 auto;
}

/* .line {
    background-color: var(--foreground-color);
    color: var(--foreground-color);
} */

h1 {
    background-color: var(--background-color);
    font-weight: bolder;
    color: var(--foreground-color);
    padding: 2rem;
    text-align: center;
    border: 1px solid gray;
    font-family: "Yusei Magic", sans-serif;
    font-weight: bold;
    font-size: xxx-large;
}

.hero img {
    /* margin-top: 1rem; */
    width: 100%;
    height: auto;
    object-fit: contain;
}

.info-wrapper {
    display: block;
}


h2 {
    /* background-color: var(--background-color); */
    font-weight: bolder;
    color: var(--background-color);
    padding: 1rem;
    text-align: center;
    border-top: 1px solid gray;
    font-family: "Yusei Magic", sans-serif;
    font-weight: 400;
    font-size: xx-large;
}


ul {
    margin: var(--margin);
}

li {
    display: flex;
    justify-content: space-between;
    /* padding: 4px 0; */
    padding: 0.4rem;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    gap: 1rem;
}

.label {
    /* font-weight: bold; */
    flex: 1;
}

.value {
    flex: 1;
    text-align: left;
}

.img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather img {
    width: 20%;
    height: auto;
    margin: 1rem auto 0;
}

footer {
    background-color: var(--background-color);
    font-weight: bolder;
    color: var(--foreground-color);
    padding: 2rem;
    text-align: center;
    border: 1px solid gray;
    font-family: Verdana, sans-serif;
    font-weight: 400;
}