:root {
    --background-color: rgb(204, 29, 29);
    --foreground-color: whitesmoke;
    --margin: 1rem 0 2rem;
}

* {
    padding: 0;
    margin: 0 auto;
}

picture {
    background-color: var(--background-color);
}

h1 {
    background-color: var(--background-color);
    color: var(--foreground-color);
    padding: 2rem;
    text-align: center;
    font-family: "Yusei Magic", sans-serif;
    font-weight: bold;
    font-size: xxx-large;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.info-wrapper {
    display: block;
}

h2 {
    color: var(--background-color);
    padding: 1rem;
    text-align: center;
    border-top: 1px solid gray;
    font-family: "Yusei Magic", sans-serif;
    font-weight: 400;
    font-size: xx-large;
}

#weather-h2::after {
    content: "";
}

ul {
    margin: var(--margin);
}

li {
    display: flex;
    justify-content: space-between;
    /* padding: 4px 0; */
    padding: 0.4rem;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    gap: 1rem;
}

.label {
    flex: 1;
}

.value {
    flex: 1;
    text-align: left;
}

.img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather img {
    display: block;
    width: 20%;
    height: auto;
    margin: 1rem auto 0;
}

footer {
    background-color: var(--background-color);
    color: var(--foreground-color);
    padding: 2rem;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-weight: 400;
}