body {
    font-family: 'Roboto', sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto; /*center content in the middle of the page*/
    border: 4px solid rgb(206, 206, 206);
    padding: 1.5rem;
    background-color: lightsteelblue;
}

main {
    /* Declare the main element to be a CSS grid with a 
    grid template of only one column, and a equal gap of 1rem.  */
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    padding: 1rem;
    background-color: whitesmoke;
}